/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   BASE STYLES
   ========================================================================== */

html {
    font-size: 16px;
    width: 100%; /*360px*/
    height: 100%;
    background-color: #202322;
}
body {
    background-color: #202322;
    color: #e2e3ed;
    font-size: 1em; /*16px*/
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-weight: normal;
    width: 100%; /*360px*/
    height: 100%;
}
.content-wrapper {
    width: 90%; /*324px around 33px each side*/
    padding: 3.125em 0; /*50px 0*/
    font-size: 1em; /*16px*/
    height: 100%;
}
h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: 0;
}
h1 {
    font-size: 2.25em; /*36px*/
    line-height: 0.84em; /*30px*/
}
h2 {
    font-size: 1.875em; /*30px*/
    line-height: 1em; /*30px*/
}
h3 {
    font-size: 1.125em; /*18px*/
    margin-bottom: 1em; /*18px*/
    line-height: 1em; /*18px*/
}
p {
    font-size: 0.875em; /*14px*/
    margin: 0;
    line-height: 1.125; /*18px*/
}
img {
    width: 100%; /*100% of its parent*/
}
figure {
    margin: 0;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: #e2e3ed;
}
address {
    font-style: normal;
    color: #e2e3ed;
}

/* ------------------------- Mobile Styles --------------------------- */

/* ----Header & Footer all pages  ----- */

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background-color: #202322;
}

/*---Header styles----*/

header .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    margin: 0;
    width: 100%; /*360px*/
    padding: 1em 0; /*16px 0*/

}
header figure {
    width: 61%; /*219.6px --> around 221px in psd*/
    max-width: 250px;
}
header .divider {
    width: 100%; /*360px*/
    height: 1px;
    margin: 0.625em 0 1em 0; /*10px 0 16px 0*/
    background-color: gray;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    width: 45%; /*161px*/
}

header nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%; /*161px*/
    margin: 0;
    padding: 0;
}

header nav ul li a {
    color:#e2e3ed;
    font-weight: bold;
    font-size: 1.125em; /*18px*/
    flex-shrink: 1;
}

/*---footer styles----*/

footer .content-wrapper {
    display: flex;
    justify-content: center;
    width: 55%; /*198px -> around 200 in psd*/
    max-width: 600px;
    text-align: center;
    flex-flow: row wrap;
}
footer .footer-content {
    width: 100%;
}

footer .address-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%; /*198px*/
    margin-bottom: 2.75em; /*44px*/
}

footer .social {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
footer .social h3 {
    width: 100%;
}
footer .social-content {
    display: flex;
    justify-content: space-between;
    width: 100%; /*198px*/
}
footer .social-content p {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #527158;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
footer .social-content a i {
    font-size: 1.125em; /*18px*/
}
footer .copyright {
    width: 100%; /*198px*/
    display: flex;
    justify-content: center;
    margin-bottom: 0.5em; /*8px*/
}
footer .copyright p {
    width: 60%; /*216px*/
    text-align: center;
}


  /* ==========================================================================
   HOME PAGE
   ========================================================================== */
  
    /* -----Hero Section------*/
.hero {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    background: url(../img/jake-melara-30679-unsplash.png) no-repeat center #527158;
    background-size: cover;
    min-height: 500px;
}

    /* -----Form Section------*/
aside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
    background-color: #527158;
}
aside .content-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    padding-top: 1.5em;
}
aside .form-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    margin-bottom: 2em; /*32px*/
}
aside .form-input-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
}
aside input {
    width: 100%;
}
.email-space {
    padding: 1em 0.9em; /*16px 14px*/
    font-style: italic;
    color: #9d9ea4;
    background-color: #e1e2ea;
    border: none;
}
.buttom {
    background-color: #2a423a;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.125em; /*18px*/
    font-weight: normal;
    padding: 1em; /*18px*/
    color: #e2e3ed;
    margin-top: 1em; /*18px*/
}

/* -----Features Section------*/

.features {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background: url(../img/rawpixel-800820-unsplash1.png) no-repeat center #527158;
    background-size: cover;
}
.features-content {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    text-align: center;
    padding-top: 2em; /*32px*/
}
.features article {
    width: 60%; /*194.4px -> 60% from 324px*/
    margin: 2em 3em 0.5em 3em; /*32px 48px 8px 48px;*/ 
}
.features p i {
    font-size: 3.75em; /*60px*/
    margin: 0.16em 0 0.66em 0; /*10px 0 40px 0;*/
}

/* -----Reviews Section------*/

.reviews {
  background-color: #2a423a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.reviews h2 {
  margin-bottom: 40px;
  line-height: 1;
}

.reviews h3 {
  width: 55%;
  margin: 20px 0;
}

/* ==========================================================================
   ABOUT PAGE
   ========================================================================== */
  
.mission {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #527158;
   }

.mission-content p {
    margin-top: 1.25em; /*20px*/     
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #527158;
   }

.contact-infos {
    margin-top: 1.125em; /*18px*/
} 

/* ==========================================================================
FAQ PAGE
========================================================================== */
  
.faq {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background-color: #527158;
}
.faq-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}
.questions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: wrap;
    margin-top: 2.625em; /*42px*/
}
.questions h3{
    line-height: 24px;
    margin-bottom: 0.5em; /*9px*/
}
  
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   ****Media Queries for Responsive Design.*****
   
========================================================================== */
  
/****************************Tablet Styles****************************/
@media only screen and (min-width: 768px) {

  /* ====================== BASE STYLES======================= */
  .content-wrapper {
  padding: 100px 0;
  width: 85%;
}
h1 {
  font-size: 48px;
  line-height: 48px;
}
h2 {
  font-size: 36px;
  line-height: 48px;
}
h3 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
}
  /* ==================Tablet Header & Footer - all pages ======================= */

    /* ----Tablet Header-----*/
header {
    min-height: 5%;
    max-height: 100px;
    }
header .content-wrapper {
    width: 100%;
    justify-content: space-between;
    padding: 30px 60px;
}
header nav{
  width: 25%;
}
header nav ul {
    justify-content: space-between;
}
.divider {
    display: none;
}
/* -----Tablet Footer------*/
footer {
  min-height: 25%;
}
footer .content-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 65%;
    text-align: center;
    flex-flow: row wrap;
    padding: 80px;
} 
footer .footer-content {
    display: flex;
    justify-content: space-between;
}
footer .address-content {
    margin-bottom: 0; /*44px*/
}
footer h3 {
   margin-bottom: 38px;
}

  /* ================== tablet homepage styles ======================= */

  /*----- Tablet Hero Area------*/
.hero {
  min-height: 600px;
}
  
 /*------- Tablet Aside ------- */
aside .content-wrapper {
  padding: 50px 0;
  justify-content: space-around;
  align-items: flex-start;
  flex-flow: row nowrap;
  margin: 0;
}
aside .form-content, aside .form-input-content {
  width: 43%;
  margin: 0;
}
aside .form-content {
  padding-right: 32px;
}
/* -----Tablet Features Section------*/
.features-content {
    padding: 0;
}

.features article {
    width: 33%; /*194.4px -> 60% from 324px*/
}

.features p i {
    font-size: 72px; /*60px*/
}
/* -----Tablet Reviews------*/
.reviews h2 {
    width: 80%;
}
.reviews article {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.reviews article figure,
.reviews article .reviews-text {
    width: 49%;
}
.reviews h3 {
    width: 80%; /*162px*/
    margin: 0 0 16px 0;
}
  /* ================== tablet About Page styles ======================= */
  /* ================== tablet Faq Page styles ======================= */
  .faq {
    min-height: 70%;
    align-items: flex-start;
  }
  .faq h2 {
    margin-bottom: 2%;
  }
  .faq .content-wrapper {
    height: 100%;
    padding: 80px 0;
  }
  .faq-content {
    justify-content: space-between;
    align-items: flex-start;
  }
  .questions {
    width: 45%;
    margin-bottom: 5%;
    height: 100%;
  }
  .questions h3 {
    font-size: 14px;
    line-height: 18px;
  }
}

/* ----------------------- Desktop Styles ---------------------------- */
    
@media only screen and (min-width: 1200px) {

    /* ====================== BASE STYLES======================= */

.content-wrapper {
  width: 80%;
}
h1 {
  font-size: 60px;
  line-height: 60px;
}
h2 {
  font-size: 36px;
  line-height: 48px;
}
h3 {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 20px;
}
p {
    font-size: 18px;
    line-height: 24px;
}
  /* ===============Desktop Header & Footer - all pages ======================= */

    /* ----Desktop Header-----*/
header .content-wrapper {
    padding: 30px 120px;
}
header nav{
  width: 15%;
}
footer .content-wrapper {
  max-width: 900px;
}

/* ==================Desktop homepage styles ======================= */

 /*------- Desktop Aside ------- */

aside .form-content, aside .form-input-content {
  width: 34%; /*326,4*/
}
/* -----Desktop Features Section------*/
.features-content {
    justify-content: space-between;
    margin-top: 68px;
}

.features article {
    width: 20%; /*194.4px -> 60% from 324px*/
}

/* -----Desktop Reviews------*/
.reviews article {
  justify-content: space-around;
}
.reviews h2 {
    padding-bottom: 50px; 
}
  
.reviews article .reviews-text {
    width: 42%;
}

/* ================== Desktop About Page styles ======================= */

/* ================== Desktop Faq Page styles ======================= */

.faq h2 {
  margin-bottom: 1%;
  font-size: 48px;
  line-height: 48px;
}
.faq p,
.faq h3 {
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 2%;
}
.faq .content-wrapper {
  padding: 80px 0;
  max-width: 1000px;
}
.questions {
  width: 45%;
  max-width: 700px;
  margin-bottom: 1%;
}
} 
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}