/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  line-height: 1.4;
  font-size: 16px;
  width: 100%;  /*360px*/
  height: 100%;
  background-color: #202322;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   BASE STYLES
   ========================================================================== */
  /*Commented Measures are for consulting and correcting purposes, they don't 
  necessarily represent the actual measures*/

body {
  background-color: #202322;
  color: #e2e3ed;
  font-size: 1em; /*16px*/
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-weight: normal;
  width: 100%; /*360px*/
  height: 100%;
  text-align: left;
}

.content-wrapper {
  width: 90%;  /*324px -> 33px each side*/
  margin: 3.125em 0;  /*50px 0*/
  font-size: 1em;  /*16px*/
  height: 100%;
}

h1, h2, h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin: 0;
}

h1 {
  font-size: 2.25em;  /*36px*/
  line-height: 0.84em;  /*30px*/
}

h2 {
  font-size: 1.875em;  /*30px*/
  line-height: 1.2em;  /*36px*/
}

h3 {
  font-size: 1.125em;  /*18px*/
  margin-bottom: 0.9em;  /*18px*/
  line-height: 0.9em;  /*18px*/
}

p {
  font-size: 0.875em;  /*14px*/
  margin: 0;
  line-height: 1.3em;  /*18px*/
}

img {
  width: 100%;
  margin: 0;
}

figure {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #e2e3ed;
}

address {
  font-style: normal;
  color: #e2e3ed;
}

/* ==========================================================================
   MOBILE STYLES
   ========================================================================== */

/*--------------- HEADER & FOOTER MOBILE STYLES - ALL PAGES -----------------*/

header, footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #202322;
}

/*---- HEADER MOBILE ----*/

header .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
  width: 100%;  /*360px*/
  padding: 1em 0;  /*16px 0*/
}

      /*--- logo ---*/
header figure {
  width: 61%;  /*221px*/
  max-width: 250px;
  min-width: 170px;
}

    /*--- Divider ---*/
header .divider {
  width: 100%;  /*360px*/
  height: 1px;
  margin: 0.625em 0 1em 0;  /*10px 0 16px 0*/
  background-color: gray;
}

    /*--- Nav Bar Area ---*/
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  width: 60%;  /*161px*/
  color: #e2e3ed;
  font-weight: 700;
  font-size: 1.125em;  /*18px*/  
  text-transform: uppercase;
}

header nav ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  padding: 0;
}


/*---- FOOTER MOBILE ----*/

footer .content-wrapper {
  display: flex;
  justify-content: center;
  width: 55%;  /*200px*/
  max-width: 600px;
  text-align: center;
  flex-flow: row wrap;
}

footer .footer-content {
  width: 100%;
}

    /*--- Footer Contact/address Area ---*/
footer .address-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.75em;  /*44px*/
}

    /*--- Social Medias Area ---*/
footer .social {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

footer .social h3 {
  width: 100%;
  margin-bottom: 1em;
}

footer .social-content {
  display: flex;
  justify-content: space-between;
  width: 100%;  /*198px*/
  max-width: 200px;
}

footer .social-content p {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #527158;
  border-radius: 50%;
  width: 40px;  /*Icon Cirle*/
  height: 40px;
}

        /*--- Social Media Icons - Fontawesome ---*/
footer .social-content a i {
  font-size: 1.125em;  /*18px*/
}

    /*--- Copyright Area ---*/
footer .copyright {
  width: 100%;  /*198px*/
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;  /*8px*/
}

footer .copyright p {
  width: 90%;  /*216px*/
  text-align: center;
}

/*------------------ HOMEPAGE MOBILE STYLES ----------------------*/

/*---- HERO SECTION MOBILE ----*/

.hero {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  background: url(../img/unplugged-retreat-hero.jpg) no-repeat center #527158;
  background-size: cover;
  min-height: 500px;
}

/*--- ASIDE FORM AREA MOBILE ---*/

aside {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  background-color: #527158;
}

aside .content-wrapper {
  margin-top: 30px;
}

    /*--- Aside call to action text area ---*/
aside .form-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  margin-bottom: 2em;  /*32px*/
}

    /*--- Aside Form Area ---*/
aside .form-input-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
}

        /*--- Aside imputs elements---*/

input[type=text] {
  padding: 1em 0 1em 0.9em;  /*16px 14px*/
  font-style: italic;
  color: #9d9ea4;
  background-color: #e1e2ea;
  border: none;
  width: 100%;
}

input[type=button] {
  background-color: #2a423a;
  border: none;
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-size: 1.125em;  /*18px*/
  font-weight: 500;
  padding: 1em 0.2em;  /*18px*/
  color: #e2e3ed;
  margin-top: 1em;  /*18px*/
  text-transform: uppercase;
  width: 100%;
}

/*--- FEATURES SECTION MOBILE ---*/

.features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background: url(../img/unplugged-retreat-features.jpg) no-repeat center #527158;
  background-size: cover;
}

.features-content {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  text-align: center;
  padding-top: 2em;  /*32px*/
}

.features article {
  width: 60%;  /*194.4px*/
  margin: 2em 3em 0.5em 3em;  /*32px 48px 8px 48px;*/
}

      /*--- FontAwsome Icons ---*/
.features p i {
  font-size: 3.75em;
  /*60px*/
  margin: 0.16em 0 0.66em 0;
  /*10px 0 40px 0;*/
}

/*--- REVIEWS SECTION MOBILE ---*/

.reviews {
  background-color: #2a423a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.reviews h2 {
  margin-bottom: 1em; /*42px*/
  line-height: 1em; /*30px*/
}

.reviews h3 {
  width: 55%;
  margin: 1.1em 0; /*20px 0*/
}

/*------------------ ABOUT PAGE MOBILE STYLES ----------------------*/

/*--- MISSION SECTION MOBILE ---*/

.mission {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #527158;
}

.mission-content p {
  margin-top: 1.25em;  /*20px*/
}

/*--- MAP SECTION MOBILE ---*/

.map figure {
  width: 100%;
  height: 0;
  padding-bottom: 125%;
  overflow: hidden;
  position: relative;
}

.map iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/*--- CONTACT SECTION MOBILE ---*/

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2a423a;
}

.contact-infos {
  margin-top: 1.125em;  /*18px*/
}

/*------------------ FAQ PAGE MOBILE STYLES ----------------------*/

/*--- FAQ SECTION MOBILE ---*/

.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  background-color: #527158;
}

.faq-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

    /*--- FAQ Questions Area---*/
.questions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: wrap;
  margin-top: 2.625em;  /*42px*/
}

.questions h3 {
  line-height: 1.3em;  /*24px*/
  margin-bottom: 0.5em;  /*9px*/
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
  display: none !important;
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

.sr-only.focusable:active, .sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before, .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
************************ MEDIA QUERYS *****************************
========================================================================== */

/* ==========================================================================
   TABLET STYLES
   ========================================================================== */

@media only screen and (min-width: 768px) {

  /*------------------ BASE TABLET STYLES ----------------------*/

  .content-wrapper {
    margin: 100px 0;
    width: 85%; /*640px*/
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    align-items: flex-start;
  }

  h1 {
    font-size: 3em;  /*48px*/
    line-height: 1em;  /*48px*/
  }

  h2 {
    font-size: 2.25em;  /*36px*/
    line-height: 1.33em;  /*48px*/
  }

  h3 {
    font-size: 1.5em;  /*24px*/
    line-height: 1.25em;  /*30px*/
    margin-bottom: 0.8em;  /*20px;*/
  }

  /*-------- HEADER & FOOTER TABLET STYLES - ALL PAGES -----------*/

  /*---- HEADER TABLET ----*/

  header {
    min-height: 5%;
    max-height: 100px;
  }

  header .content-wrapper {
    justify-content: space-between;
    padding: 1.875em 0;  /*30px 0;*/
    width: 85%;
  }

 /*--- logo ---*/
  header figure {
  width: 35%;  /*230px*/
  }

      /*--- Nav Bar Area ---*/
  header nav {
    width: 20%; /*160px*/
    max-width: 170px;
    min-width: 150px;
  }

  header nav ul {
    justify-content: space-between;
  }

    /*--- Divider ---*/
  .divider {
    display: none;
  }

/*---- FOOTER TABLET ----*/

  footer {
    min-height: 25%; /*160px*/
  }

  footer .content-wrapper {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 65%;  /*500px*/
    text-align: center;
    flex-flow: row wrap;
    margin: 5em;  /*80px*/
  }
  
  footer .footer-content {
    display: flex;
    justify-content: space-between;
  }

   footer h3, footer .social h3 {
    width: 100%;
    margin-bottom: 1.4em; /*42px*/
  }
  
    /*--- Footer Contact/address Area ---*/
  footer .address-content {
    margin-bottom: 0;
  }

  /*------------------ HOMEPAGE TABLET STYLES ----------------------*/

/*---- HERO SECTION TABLET ---*/

  .hero {
    min-height: 600px; 
  }

/*--- ASIDE FORM AREA TABLET ---*/

  aside .content-wrapper {
    padding: 3.125em 0;  /*50px 0*/
    justify-content: space-around;
    align-items: flex-start;
    flex-flow: row nowrap;
    margin: 0;
    max-width: 900px;
  }
  
  aside .form-content, aside .form-input-content {
    width: 43%;
    margin: 0;
  }

    /*--- Aside call to action text area ---*/
  aside .form-content {
    padding-right: 2em;  /*32px*/
  }

/*--- FEATURES SECTION TABLET ---*/

  .features h2 {
    width: 100%;
  } 

  .features-content {
    padding: 0;
    width: 100%;
    justify-content: space-around;
  }

  .features article {
    width: 33%;
    max-width: 230px;
  }

      /*--- FontAwsome Icons ---*/
  .features p i {
    font-size: 4.5em ;  /*72px*/
  }

  /*--- REVIEWS SECTION TABLET ---*/

  .reviews h2 {
    width: 100%;
  }

  .reviews article {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1000px;
  }

  .reviews article figure, .reviews article .reviews-text {
    width: 48%;
  }

  .reviews h3 {
    width: 80%;
    margin:  0 0 0.66em 0;  /*0 0 16px 0;*/
  }

  /*------------------ ABOUT PAGE TABLET STYLES ----------------------*/

  .about-main h2 {
    margin-bottom: 1em;  /*36px*/
    width: 100%;
  }

  /*--- MISSION SECTION TABLET ---*/

  .mission .content-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    max-width: 800px;  /*50em*/
  }

  .mission-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .mission-content p {
    width: 45%;
    margin-top: 1em;  /*14px*/
  }

  /*--- MAP SECTION TABLET ---*/

  .map figure {
    padding-bottom: 45%;
  }

 /*--- CONTACT SECTION TABLET ---*/

  .contact {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact .content-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    max-width: 800px;
  }

  .contact .contact-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
  }

  .contact-infos {
    width: 48%;
    margin-top: 1em;  /*14px*/
  }

  /*------------------ FAQ PAGE TABLET STYLES ----------------------*/
 
  /*--- FAQ SECTION TABLET ---*/

  .faq {
    min-height: 70%;
    align-items: flex-start;
  }
  
  .faq .content-wrapper {
    margin: 5em 0;  /*80px 0*/
  }
  
  .faq h2 {
    margin-bottom: 1%;
  }

  .faq-content {
    justify-content: space-between;
    align-items: flex-start;
  }

      /*--- FAQ Questions Area---*/
  .questions {
    width: 45%;
    margin-bottom: 5%;
    height: 100%;
  }

  .questions h3 {
    font-size: 0.875em;  /*14px*/
    line-height: 1.3em;  /*18px*/
    margin-bottom: 1.3em;  /*18px*/
  }

} /*End of Tablet Media Query Styles*/


/* ==========================================================================
   DESKTOP STYLES
   ========================================================================== */

@media only screen and (min-width: 1200px) {
  
  /*------------------ BASE DESKTOP STYLES ----------------------*/

  .content-wrapper {
    width: 80%;  /*960px*/
  }

  h1 {
    font-size: 3.75em;  /*60px*/
    line-height: 1em;  /*60px*/
  }

  h2 {
    font-size: 3em;  /*48px*/
    line-height: 1em;  /*48px*/
  }

  h3 {
    font-size: 1.875em;  /*30px*/
    line-height: 1em;  /*30px*/
    margin-bottom: 0.66em;  /*20px*/
  }

  p {
    font-size: 1.125em;  /*18px*/
    line-height: 1.33em;  /*24px*/
  }

  /*----------- HEADER & FOOTER DESKTOP STYLES - ALL PAGES -------------*/
  
  /*---- HEADER DESKTOP ----*/

  header .content-wrapper {
    width: 80%;
    padding: 1em 0;  /*25px 0*/
  }

    /*--- logo ---*/
  header figure {
    width: 30%;  /*284px*/
    max-width: 285px;
  }
  
  /*--- Nav Bar Area ---*/
  header nav {
    width: 15%;
  }

  /*---- FOOTER DESKTOP ----*/

  footer .content-wrapper {
    max-width: 900px; 
  }

  /*------------------ HOMEPAGE DESKTOP STYLES ----------------------*/

  /*---- HERO SECTION DESKTOP ----*/

  /*--- ASIDE FORM AREA DESKTOP ---*/
  
  aside .form-content, aside .form-input-content {
    width: 40%;
  }

  /*--- FEATURES SECTION DESKTOP ---*/

  .features-content {
    justify-content: space-between;
    margin-top: 4.25em;  /*68px*/
  }

  .features article {
    width: 20%;
  }

  .features h2 {
    font-size: 2.25em;  /*36px*/
    width: 80%;
  }

  /*--- REVIEWS SECTION DESKTOP ---*/

  .reviews h2 {
    font-size: 2.25em;  /*36px*/
    padding-bottom: 1.4em;  /*50px*/
  }

  .reviews-text {
    width: 42%;
  }

  /*------------------ ABOUT PAGE DESKTOP STYLES ----------------------*/

  .about-main h2 {
    margin-bottom: 0.4em;  /*14px*/
    width: 100%;
  }

  /*--- MISSION SECTION DESKTOP ---*/

  .mission .content-wrapper {
    max-width: 1000px;
  }

  /*--- MAP SECTION DESKTOP ---*/

  .map figure {
    padding-bottom: 37%;
  }

  /*--- CONTACT SECTION DESKTOP ---*/

  .contact .content-wrapper {
    max-width: 1000px;
  }

  .contact .contact-content {
    justify-content: flex-start;
  }

  /*------------------ FAQ PAGE DESKTOP STYLES ----------------------*/
  
  /*--- FAQ SECTION DESKTOP ---*/
  
  .faq .content-wrapper {
    max-width: 1000px;
  }

  .faq h2 {
    margin-bottom: 1%;
  }

  .faq p, 
  .faq h3 {
    font-size: 1.125em;  /*18px*/
    line-height: 1em;   /*18px*/
    margin-bottom: 2%;
  }

      /*--- FAQ Questions Area---*/
  .questions {
    width: 45%;
    max-width: 700px;
    margin-bottom: 1%;
  }

} /*End of Desktop Media Query Styles*/

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *, *:before, *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a, a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  a[href^="#"]:after, a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  
  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  h2, h3 {
    page-break-after: avoid;
  }

} /*End of Print Media Query Styles*/
